{% extends 'base.html.twig' %}

{% block title %}SARL BRINCAT Castelsarrasin / Montauban: Informations{% endblock %}

{% block head %}
<meta name="description" content="SARL Brincat, Garage FIAT à Castelsarrasin et à Montauban. A propos de nous.">
{% endblock %}

{% block body %}

<style>
    h1 {

    }

    h2 {

    }

    h3 {

    }

    .end-p {

    }

</style>

<section>
    <h1>SARL Garage BRINCAT Castelsarrasin & BRINCAT fils Montauban</h1>
    

    <h2>A PROPOS DE NOUS</h2>
    <p>
        SARL BRINCAT est une entreprise familiale fondée il y a plus de 50 ans et qui s'est étendue au fil
        du temps. <br>
        Durant toutes ces années nous avons fièrement arboré le drapeau FIAT, qui encore aujourd'hui nous fait confiance pour
        vous proposer le meilleur.
    </p>

    <h2>NOS SERVICES</h2>

    <h3>Mécanique</h3>
    <p>Nous vous proposons des réparations toutes marques, en mécanique, carrosserie peinture et changement de bris de glace
        directement dans nos locaux, ainsi que le recalibrage des voyants avec une malette electronique certifiée FIAT. <br>
        Spécialisé et agréé dans le camping-car,vous pourrez compter sur notre expertise pour assurer tous vos besoins de
        réparation, vidange, tout ce qu'il vous faut pour un voyage paisible à bord de votre véhicule ! <br>
        Dépanneur conventionné par des groupes d'assistance nous sommes disponibles pour intervenir, ainsi que pour toutes
        demandes de remorquage.</p>
    
    <h3>Vente de véhicules</h3>
    <p>
        Envie de changement ? Aucuns problèmes ! Grâce à notre large choix de véhicules, trouvez celui qui vous convient. <br>
        Que ce soit un véhicule neuf, ou un véhicule occasion, il y en a pour tous les budgets avec notre réseau FIAT ; que ce soit en concession ou en commande, vous trouverez celle qui vous convient.
    </p>

    <p class="end-p">
        Elizabeth, Claire, Rihéna, Jean-michel, Alexandre, Mathieu, Stéphane, Christan et Cyril vous accueillent du mardi au
        vendredi de 8h00 à 12h00 et de 14h00 à 18h00, et le samedi de 8h00 à 12h00 et de 14h00 à 18h00.
        Au plaisir de vous Recevoir dans nos locaux,<br><br>Toute l'équipe
    </p>
   
</section>

{% endblock %}