{% extends 'base.html.twig' %}

{% block title %}SARL Garage BRINCAT{% endblock %}

{% block body %}
<header>
    <div class="container ml-2" id="header_content">
        <div class="col p-3" style="height: 250px; font-family: 'PT Sans', sans-serif;">
            <h2 class="row-4 text-light">Une gamme de voitures unique</h2>
            <div class="row-4 text-light mt-1 " id="header_text">Découvrez notre catalogue de voitures neuves dès maintenant</div>
            <a class="btn btn-outline-light btn-design" id="header_btn" href="{{ path('neuf') }}">EN SAVOIR PLUS</a>
        </div>
    </div>
</header>

<section class="container-fluid bg-dark p-5">

    <div class="row">
        <div class="col-2"></div>
        <h2 class="text-white">JE RECHERCHE</h2>
    </div>
    <div class="row mb-5">
        <div class="col-2"></div>
        <hr class="bg-success" style="border-width: 3px; width: 50px">
    </div>

    <div class="m-auto">
        <div class="row">
            <div class="col-2"></div>
            <a href="{{ path('neuf') }}" class="btn btn-success btn-design col-md-3 col-lg-3 col-sm-12">UN VEHICULE NEUF</a>
            <div class="col-2"></div>
            <a href="{{ path('occasion') }}" class="btn btn-success btn-design col-md-3 col-lg-3 col-sm-12">UN VEHICULE OCCASION</a>
            <div class="col-2"></div>
        </div>
    </div>
</section>

<section class="container-fluid separation-div first">
    
</section>

<section class="container-fluid bg-white p-5">

    <div class="row">
        <div class="col-2"></div>
        <h2>NOS SERVICES</h2>
    </div>

    <div class="row mb-5">
        <div class="col-2"></div>
        <hr class="bg-success" style="border-width: 3px; width: 50px">
    </div>

    <div class="row mt-5 m-auto" id="services_container">
        
        <div class="col-lg-4 col-md-4 mb-5 col-sm-12">
            <div class="service-card text-center" id="service_1">
                
                <div class="service-bottom text-white"><h2>Expertise</h2></div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 mb-5 col-sm-12">
            <div class="service-card text-center" id="service_2">
                
                <div class="service-bottom text-white"><h2>Réparation</h2></div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 mb-5 col-sm-12">
            <div class="service-card text-center" id="service_3">
                
                <div class="service-bottom text-white"><h2>Dépannage</h2></div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 mb-5 col-sm-12">
            <div class="service-card text-center" id="service_4">
                
                <div class="service-bottom text-white"><h2>Ventes neufs & occasions</h2></div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 mb-5 col-sm-12">
            <div class="service-card text-center" id="service_5">
                
                <div class="service-bottom text-white"><h2>Révision</h2></div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 mb-5 col-sm-12">
            <div class="service-card text-center" id="service_6">
                
                <div class="service-bottom text-white"><h2>Programme de garantie</h2></div>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}
