* {
    margin: 0;
    padding: 0;
}
* h1,h2,h3,h4,h5,p {
    font-family: 'Roboto', sans-serif !important;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}
section {
    overflow-x: hidden;
}
a:hover {
    text-decoration: none;
}


/* HEADER */
header {
    width: 100vw;
    height: 600px;
    background-image: url(../res/garage-castelsarrasin-montauban-bg_header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(75%);
    padding: 1rem 0.5rem;
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
}

header h2 {
    font-weight: bold;
    font-size: 2.7rem;
    margin-bottom: 3rem;
}

#header_content {
    margin-top: 60px !important;
    text-shadow: 0px 0px 7px rgba(37,37,37,1);
}
#header_text {
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 1rem;
    text-shadow: 0px 0px 7px rgba(37,37,37,1);
}
#header_btn {
    text-shadow: 0px 0px 7px rgba(37,37,37,1);
}
#header_btn:hover {
    text-shadow: none;
}

.separation-div {
    width: 100%;
    filter: contrast(80%);
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.separation-div img {
    position: absolute;
    left: 0;
    height: auto;
}

.first {
    height: 20vh;
}
.first img {
    width: 100%;
    top: -125vh;
}
.second {
    transition: 1s;
}
.second img {
    width: 100%;
    top: -150vh;
}

@media all and (max-width: 992px) {
    .second img {
        width: 100%;
        top: -75vh;
    }
    .first img {
        width: 100%;
        top: -60vh;
    }
}
@media all and (max-width: 768px) {
    .second img {
        width: 150%;
        left: -25%;
        top: -75vh;
    }
    .first img {
        width: 100%;
        top: -30vh;
    }
}

.slider-h {
    color: #fafafa;
    text-shadow: 0px 0px 7px rgba(37,37,37,0.8);
    font-size: 2.1rem;
    font-weight: bold;
}
.slider-p {
    color: #fafafa;
    text-shadow: 0px 0px 7px rgba(37,37,37,0.8);
    font-size: 2rem;
}
.slider-fa {
    color: gold;
    text-shadow: 0px 0px 7px rgba(37,37,37,0.8);
    font-size: 2.3rem;
}
.slider-mini {
    font-size: 1rem;
    color: #fafafa !important;
    opacity: 0.6;
    text-shadow: 0px 0px 7px rgba(37,37,37,0.8);
    transition: 0.1s;
}
.slider-mini:hover {
    opacity: 1;
}

.ul-row {
    list-style: none;
}

@media all and (max-width: 768px) {
    header {
        height: 250px;
        padding: 0.3rem;
        font-size: 1rem;
    }

    header h2 {
        font-size: 1.2rem !important;
        margin-bottom: 1.5rem;
    }

    #header_text {
        font-size: 1rem;
    }

    #header_content {
        margin-top: 0 !important;
    }

    #header_btn {
        font-size: 1rem;
    }

    .slider-mini {
        opacity: 1;
        border: 2px solid #fafafa;
        padding: 3px 6px;
    }
}

@media all and (max-width: 680px) {
    header {
        background-position-x: -5rem;
    }
}

/* NAVBAR */
.navbar-home {
    display: block;
    margin: auto;
    color: #373737;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
    width: 250px !important;
}
.navbar-home:hover {
    color: #373737;
    text-decoration: none;
}
@media all and (max-width: 768px) {
    .overNav {
        display: none;
    }
}

/* BOUTONS */
.btn-design {
    font-size: 1.5rem;
    border-radius: 0;
}
@media all and (max-width: 768px) {
    .btn-design {
        margin-top: 10px;
        font-size: 1.2rem;
    }
}
/* ETIQUETTES */
.sticker {
    padding: 3px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
}

/* SERVICES */
#services_container {
    padding: 0 10%;
}

.service-card {
    height: 200px;
    width: 21vw;
    min-width: 290px;
    border-radius: 2px 2px 0 0;
    background-size: cover;
    filter: contrast(75%);
}
.service-card img {
    width: auto;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
}
.service-bottom {
    position: absolute;
    font-size: 1.5rem;
    border-radius: 0 0 2px 2px;
    top: 100%;
    min-width: 290px;
    width: 21vw;
    min-height: 40px;
    background: rgb(25, 175, 25);
    text-shadow: 0px 0px 7px rgba(37,37,37,0.4);
}

@media all and (min-width: 1300px) {
    .service-card img{
        width: 100%;
        height: auto;
    }
}
@media all and (max-width: 768px) {
    .service-card {
        width: 200px;
        height: 150px;
    }
    .service-card img{
        width: 100%;
        height: auto;
    }

    .service-bottom {
        width: 200px;
        height: auto;
    }
    #services_container {
        padding: 0 0%;
    }
    .service-card h2 {
        font-size: 1.6rem;
    }
}

/* CAR DISPLAY */
.car-card {
    color: #373737;
    background: #ecf0f1;
    width: 250px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.3s;
    

    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
}
.car-card li {
    font-size: 1.2rem;
}
.car-card:hover {
    transform: translate3d(0,-3%,0);
    cursor: pointer;
    -webkit-box-shadow:  0 5px 15px -5px rgba(0,0,0,0.30);
    -moz-box-shadow:  0 5px 15px -5px rgba(0,0,0,0.30);
    box-shadow:  0 5px 15px -5px rgba(0,0,0,0.30);
}
.car-card:hover img {
    transform: scale3d(1,1,1);
}
.car-card .top {
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-align: center;
}
.car-card .card-title {
    margin-bottom: 0;
}
.top img {
    width: auto;
    min-width: 100%;
    height: 100%;
    transition: 0.3s;
}
.car-card .bottom {
    height: 200px;
    z-index: 2;
    background: white;
    -webkit-box-shadow: 0 0px 5px 0px rgb(29, 29, 29);
    -moz-box-shadow: 0 0px 5px 0px rgb(29, 29, 29);
    box-shadow: 0 0px 5px 0px rgb(29, 29, 29);
}
.card-button {
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: royalblue;
    color: white;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-button p {
    opacity: 0;
}
.card-button i {
    position: absolute;
    font-size: 2.4rem;
}
.card-button:hover {
    width: 100%;
    height: 30%;
    border-radius: 0px;
}
.card-button:hover p {
    opacity: 1;
    transition: 1.2s;
}
.card-button:hover i {
    opacity: 0;
}

/* SPECIFIC CAR DETAIL */
.info-box-notification {
    position: fixed;
    padding: 20px 30px;
    right: 0;
    top: 30%;
    background: #373737;
    height: 300px;
    width: 270px;
    z-index: 5;
    border-radius: 15px 0 0 15px;
    border: 1px solid rgb(100,100,100);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.20);
    transform: translate3d(90%,0,0);
    transition: 0.4s;

    animation: 5s alert-slide 1;
}
@keyframes alert-slide {
    0% {transform: translate3d(0,0,0);}
    90% {transform: translate3d(0,0,0);}
    100% {transform: translate3d(90%,0,0);}
}

.info-box-notification:hover {
    transform: translate3d(0,0,0);
}
.info-box-notification .fa-bars {
    transition: 0.2s;
    opacity: 1;
}
.info-box-notification:hover .fa-bars {
    opacity: 0;
}

@media all and (max-width: 768px) {
    .info-box-notification {
        display: none;
    }
    .card-button {
        display: none;
    }
}

/* ADMIN */
input[type='file']:hover {
    cursor: pointer;
}

.shadow {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.30);
}