* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 100vh;
}

/* HEADER */
header {
    width: 100vw;
    height: 600px;
    background-image: url(../res/bg-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(75%);
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.separation-div {
    height: 20vh;
    background: fixed;
    background-size: cover;
    background-position: center;
    background-origin: center;
    filter: contrast(80%);
}

.first {
    background-image: url(../res/header_between_4.jpg);
}

.ul-row {
    list-style: none;
}

/* NAVBAR */
.navbar-home {
    display: block;
    margin: auto;
    color: #373737;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
    width: 250px !important;
}
.navbar-home:hover {
    color: #373737;
    text-decoration: none;
}

/* BOUTONS */
.btn-design {
    font-size: 1.5rem;
    border-radius: 0;
}
/* ETIQUETTES */
.sticker {
    padding: 3px;
    border-radius: 5px;
}

/* SERVICES */
.service-card {
    height: 250px;
    width: 350px;
    border-radius: 2px;
    background-size: cover;
    filter: contrast(75%);
}

.service-bottom {
    position: absolute;
    bottom: 0;
    width: 350px;
    height: 50px;
    background: rgb(25, 175, 25);
}

#service_1{
    background-image: url(../res/service_expertise.jpg);
}
#service_2{
    background-image: url(../res/service_reparation.jpg);
}
#service_3{
    background-image: url(../res/service_depannage.jpg);
    filter: contrast(65%);
}
#service_4{
    background-image: url(../res/service_vente.jpg);
}
#service_5{
    background-image: url(../res/service_revision.jpg);
}
#service_6{
    background-image: url(../res/service_garantie.jpg);
}


/* CAR DISPLAY */
.car-mini {
    
}