* {
    margin: 0;
    padding: 0;
}

body {
    background: red;
}

/* HEADER */
header {
    width: 100vw;
    height: 600px;
    background-image: url(../res/header-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}