{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; height: 50vh;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .buttonList {
        height: 40vh;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .button {
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.30)
    }
</style>

<div class="example-wrapper">
    <h1 class="text-center mt-5">Menu</h1>

    <section class="container m-auto">
        <ul class="buttonList mt-5">
            <li><abbr title="Gérer les voitures en vente"><a href="{{ path('car_index') }}" class="btn btn-lg btn-light button">Gestion des véhicules</a></abbr></li>
            <li><abbr title="Gérer les administrateurs"><a href="{{ path('admin_registration') }}" class="btn btn-lg btn-light button">Créer un nouvel administrateur</a></abbr></li>
            <li><abbr title="Accéder à tous les messages reçus"><a href="{{ path('message_index') }}" class="btn btn-lg btn-light button">Messagerie</a></abbr></li>
            <li><abbr title="Se déconnecter"><a href="{{ path('admin_logout') }}" class="btn btn-lg btn-danger button">Se déconnecter</a></abbr></li>
        </ul>
    </section>
</div>
{% endblock %}
