{% extends 'base.html.twig' %}

{% block title %}Authentification% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Authentification</h1>

    <form action=""></form>
</div>
{% endblock %}
