<div class="container m-auto bg-light shadow" style="border-radius: 5px; padding-top: 10px; padding-bottom: 10px;">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
</div>
